<% if action == :signup %>
<% action_url = users_url %>
<% action_button = 'Create User' %>
<% else  %>
<% action_url = session_url %>
<% action_button = 'login' %>
<% end %>


<form action='<%= action_url %>' method='POST'>
    <label for='username'>Username:</label>
    <input id='username' type='text' name='user_info[username]' value=''>
    <br/>

    <label for='password'>Password:</label>
    <input id='password' type='password' name='user_info[password]' value=''>

    <input type='submit' value='<%= action_button %>'>
</form>